@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
     /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #AA076B;

    --background: -39 59.800000000000004% 2.8%;
    --foreground: -39 9.200000000000001% 96.75%;

    --muted: -39 46% 10.5%;
    --muted-foreground: -39 9.200000000000001% 53.5%;

    --popover: -39 46.599999999999994% 4.55%;
    --popover-foreground: -39 9.200000000000001% 96.75%;

    --card: -39 46.599999999999994% 4.55%;
    --card-foreground: -39 9.200000000000001% 96.75%;

    --border: -39 46% 10.5%;
    --input: -39 46% 10.5%;

    --primary: -39 92% 35%;
    --primary-foreground: -39 9.200000000000001% 96.75%;

    --secondary: -39 46% 10.5%;
    --secondary-foreground: -39 9.200000000000001% 96.75%;

    --accent: -39 46% 10.5%;
    --accent-foreground: -39 9.200000000000001% 96.75%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: -39 9.200000000000001% 96.75%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: -39 92% 35%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}